<app-header></app-header>

<div class="col espacioArriba"></div>
<div class="container">
    <div class="row espacioArriba">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center espacioAbajo text-primary">
            <h1>Lista de facturas</h1>
        </div>
    </div>
</div>

<!-- 
<div class="container">
    <div class="row py-2">
        <div class="col-12 text-center text-dark">
            <div class="form-group">
                <input type="text" class="form-control" name="filterProyect"
                    placeholder="Buscar cliente por nombre o numero de celular" [(ngModel)]="filterProyect">
            </div>
        </div>
    </div>
</div> -->


<div class="card text-white bg-light espacioArriba">
    <div class="my-2 text-right" style="padding-right: 20px;">
        <button class="btn btn-outline-info" type="button" [routerLink]="['/bill-form']">Crear Factura</button>
    </div>

    <div class="card-body text-primary" style="padding-bottom: 40px;">


        <div *ngIf="listOfBills?.length == 0" class="alert alert-info">
            No hay registros en la base de datos
        </div>
        <table class="table table-bordered table-striped text-center" ngif="clients?.length > 0">
            <thead>
                <tr>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Observacion</th>
                    <th scope="col">Fecha de creacion</th>
                    <th scope="col">Costo total</th>
                    <th scope="col">Productos de la factura</th>
                    <th scope="col"> Editar</th>
                    <th scope="col"> Eliminar</th>
                   

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let bill of listOfBills">
                    <td>{{bill.description}}</td>
                    <td>{{bill.observation}}</td>
                    <td>{{bill.createAt}}</td>
                    <td>{{bill.total}}</td>
                   
                    <!-- TODO: Cuando se le de click al boton de historial de compras realizar un scroll down donde se muestren las facturas asociadas a este cliente si tiene -->
                    <td><button type="button" name="button" class="btn btn-outline-primary">Ver productos</button></td>
                    <td><button type="button" name="button" class="btn btn-outline-primary">Editar</button></td>
                    <td><button type="button" name="button" class="btn btn-outline-danger">Eliminar</button></td>

                    <!-- <td>
                        <button type="button" name="button" [routerLink]="['/clienteSeguimiento',cliente.id]"
                            class="btn btn-outline-info">Historial de compras</button>
                    </td>

                    <td>
                        <button type="button" name="button" [routerLink]="['/clientForm',cliente.id]"
                            class="btn btn-outline-info">Editar</button>
                    </td>

                    <td>
                        <button type="button" name="button" (click)='delete(cliente)'
                            class="btn btn-outline-danger">Eliminar</button>
                    </td> -->
                </tr>
            </tbody>
        </table>


    </div>
</div>



















<app-footer></app-footer>